
server {
    server_name hullzero.siog.com.br;

    # Frontend - Arquivos Estáticos
    location / {
        root /home/douglaslpolinto/hackathon-transpetro/frontend/dist;
        try_files $uri $uri/ /index.html;
        index index.html;
    }

    # Backend - API Proxy
    location /api {
        proxy_pass http://localhost:8000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Backend - Docs Proxy (Swagger/Redoc)
    location /docs {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
    }

    location /openapi.json {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
    }
}
